.cesium-toolbar2{
display: inline-block;
background: rgba(42,42,42,0.7);
border-radius: 15px;
border: 1px solid #444;
padding: 10px 10px;
margin: 1px 1px;
color: #fff;
line-height: 100%;
position: absolute;
bottom: 80px;
right: 160px;
//top: 5px;
//left: 5px;
z-index: 100;
font-family : Î¢ÈíÑÅºÚ; 
}

.scalebar{
display: block;
background: rgba(42,42,42,0.7);
border-radius: 15px;
border: 1px solid #444;
padding: 7px 10px;
margin: 0 0;
color: #fff;
line-height: 100%;
position: absolute;
bottom: 80px;
right: 10px;
//top: 5px;
//left: 5px;
z-index: 100;
text-align:center;
font-family : Î¢ÈíÑÅºÚ; 
}

.compass {
  pointer-events: auto;
  position: absolute;
  right: 5px;
  top: 75px;
  width: 95px;
  height: 95px;
  cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.compass:active{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
		  
.compass-outer-ring {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: rgba(255, 255, 255, 0.5);
}
.compass-outer-ring-background {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 12px solid rgba(47, 53, 60, 0.8);
}
.compass-gyro {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #CCC;
}
.compass-gyro-active {
  fill: #68adfe;
}
.compass-gyro-background {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: rgba(47, 53, 60, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);

}
.compass-gyro-background:hover + .compass-gyro {
  fill: #68adfe;
}
.compass-rotation-marker {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #68ADFE;
}
.cursor-grab {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.navigation-controls {
  pointer-events: auto;
  position: absolute;
  border-radius: 15px;
  background-color: rgba(47, 53, 60, 0.8);
  padding-top: 5px;
  padding-bottom: 5px;
  right: 35px;
  top: 195px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navigation-control {
  cursor: pointer;
  border-bottom: 1px solid #555555;
}
.naviagation-control:active {
  color: #FFF;
}
.navigation-control-last {
  cursor: pointer;
  border-bottom: 1px solid #555555;
  border-bottom: 0;
}
.navigation-control-icon-zoom-in {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 4px;
}
.navigation-control-icon-zoom-out {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.navigation-control-icon-reset {
  position: relative;
  left: 10px;
  width: 10px;
  height: 10px;
  fill: rgba(255, 255, 255, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
}